.ml-lp-table {
    display: flex;

    margin-bottom: 2rem;
}

.ml-lp-item {
    margin-right: 1rem;
}

.ml-lp-item:last-child {
    margin-right: 0;
}

.table-title {
    color: var(--white);
    font-weight: 700;

    background-color: var(--blue);
    padding: .5rem;

    text-align: center;
}

.table-text {
    box-sizing: border-box;
    border: 2px solid var(--blue);
    padding: 1rem;

    text-align: center;
}

.supervised-learning {
    display: flex;
    align-items: center;
}

.supervised-learning-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-right: 2rem;
}

.sp-figure {
    width: calc(100% - (40% + 2rem));
}

.supervised {
    margin-bottom: 1.5rem;
}