.authors-section {
    display: flex;

    margin: 4rem 1rem 4rem 4rem;
}

.cards-section {
    display: flex;
}

.card--mod {
    width: 20rem;
    margin-right: 2rem;
}

.button--mod {
    background-color: var(--blue);

    color: var(--white);
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.card-title--mod {
    font-weight: 700;
}

.authors-section--image {
    width: 50%;
    margin-left: 4rem;
}

.authors-section--title {
    font-family: inherit;
    font-size: 6rem;
    font-weight: 900;
    color: var(--wine);

    position: absolute;
    top: 36rem;
    left: 53rem;
}